# Pretest DSA Telkomsel
## Telkomsel Data Science Academy
Date: 16 October 2019<br>
Auth: Rifyal Rachmat<br>

### Explore Insight Deeply!
in this section, I will try to dig 5 of facts with theme of __Churned Customers__

#### Q1. Potential states based on highest spending
##### What is bla bla

In [38]:
#Import numpy, panda, and dataset - located local E
import pandas as pd
import numpy as np
pd.DataFrame()
churn = pd.read_csv(r"E:\churn_test.csv", encoding='latin1')
churn.describe()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
count,5000.00000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,25.99840,100.25860,436.911400,2499.500000,0.094600,0.264600,7.755200,180.288900,100.029400,30.649668,...,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400,0.141400
std,14.80348,39.69456,42.209182,1443.520003,0.292691,0.441164,13.546393,53.894699,19.831197,9.162069,...,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363,0.348469
min,0.00000,1.00000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.00000,73.00000,408.000000,1249.750000,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,...,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,26.00000,100.00000,415.000000,2499.500000,0.000000,0.000000,0.000000,180.100000,100.000000,30.620000,...,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,39.00000,127.00000,415.000000,3749.250000,0.000000,1.000000,17.000000,216.200000,113.000000,36.750000,...,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,0.000000
max,50.00000,243.00000,510.000000,4999.000000,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,...,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [39]:
#column
print("kolom:",len(churn.columns))
#row
print("baris:",len(churn))
sum_day_charge= churn['total_day_charge'].sum()
sum_day_charge= churn['total_day_charge'].sum()

kolom: 21
baris: 5000

In [46]:
churn['total_day_charge'] = churn['total_day_charge'].astype (int)
churn['total_eve_charge'] = churn['total_eve_charge'].astype (int)
churn['total_night_charge'] = churn['total_night_charge'].astype (int)
churn['total_intl_charge'] = churn['total_intl_charge'].astype (int)

In [49]:
top_3 = churn[['total_day_charge','state','total_eve_charge']]
a_test = 'total_day_charge'.sum()&'total_eve_charge'.sum()

AttributeError: 'str' object has no attribute 'sum'